.hidden-file input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-group button {
    display: inline-flex;
    align-items: center;
  }
  
  .btn-group .btn-primary {
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .btn-group .btn-group-icon {
    margin-right: 10px;
  }
  
  .btn-group .ion-plus-round {
    font-size: 18px;
  }
  
  .btn-group .btn-primary {
   /* You can modify this color */
    border: 1px solid #007bff;  /* Border color */
    color: white;
    border-radius: 4px;
  }
  
  .btn-group .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  .btn-group button {
    border: 1px solid #dee2e6;
  }

  .card {
    width: 40%;
}
  